components:
  parameters: {}
  responses: {}
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
          format: "email"
    PartialEntry:
      type: object
      properties:
        date:
          type: string
          format: date
          description: "Format: YYYY-MM-DD"
        title:
          type: string
          maxLength: 500
        content:
          type: string
          description: "Diary Entry content. Encrypted. Markdown format."
        labels_id:
          type: array
          items:
            type: integer
            format: int64
    Entry:
      type: object
      properties:
        id:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        date:
          type: string
          format: date
          description: "Format: YYYY-MM-DD"
        title:
          type: string
          maxLength: 500
        labels:
          type: array
          items:
            $ref: "#/components/schemas/Label"
        content:
          type: string
          description: "Diary Entry content. Encrypted. Markdown format."
    Label:
      type: object
      properties:
        id:
          type: integer
          format: int64
        value:
          type: string
          maxLength: 100
        color:
          type: string
          format: hex

  securitySchemes:
    Bearer Authentication:
      bearerFormat: JWT
      description: |-
        **For Web or Mobile clients**

        Request Headers must contain `Authorization: Bearer <access token>`
      scheme: bearer
      type: http
info:
  description: API Description
  title: Encrypted Diary API Specification
  version: 0.2.0
  x-logo:
    altText: Logo
    url: https://us.123rf.com/450wm/bessyana/bessyana1911/bessyana191100018/137324124-black-and-white-locked-diary-girl-secret-journal-fairy-tale-theme-vector-illustration-for-icon-stamp.jpg?ver=6
openapi: 3.0.0
paths:
  /login:
    summary: Log in
    post:
      security: []
      tags:
        - Account
      operationId: login
      summary: Log in
      description: Exchange user / pwd for an access token
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: "email"
                password:
                  type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
        400:
          description: Bad parameters
        404:
          description: User not found
  /register:
    summary: Create account
    post:
      security: []
      tags:
        - Account
      operationId: register
      summary: Create account
      description: "Password requirements: Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: "email"
                password:
                  type: string
      responses:
        201:
          description: Account created
          content:
            application/json:
              schema:
                properties:
                  user:
                    type: object
                    $ref: "#/components/schemas/User"
        400:
          description: Bad request
        409:
          description: User already exists
  /entries:
    summary: Diary entries
    get:
      tags:
        - Entries
      operationId: getEntries
      summary: Retrieve Entries
      responses:
        200:
          description: List all user entries
          content:
            application/json:
              schema:
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entry"
    post:
      tags:
        - Entries
      summary: Add an Entry
      operationId: addEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialEntry"
      responses:
        201:
          description: Entry successfully added
  /entries/{id}:
    summary: Diary entry
    get:
      tags:
        - Entries
      operationId: getEntry
      summary: Retrieve Entry
      responses:
        200:
          description: The entry
          content:
            application/json:
              schema:
                properties:
                  entry:
                    $ref: "#/components/schemas/Entry"
    put:
      tags:
        - Entries
      summary: Edit an Entry
      operationId: editEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialEntry"
      responses:
        200:
          description: Entry successfully edited
    delete:
      tags:
        - Entries
      summary: Delete an Entry
      operationId: deleteEntry
      responses:
        200:
          description: Entry successfully deleted

security:
  - Bearer Authentication: []
servers:
  - url: https://api.diary.yuruh.fr
tags:
  - name: Entries
    description: Operations about diary entries